.breadcrumb{
  margin-left: 5px;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 1.3rem;
}
.breadcrumb li{
  margin-right: 5px;
}

.breadcrumb li a:hover{
  color: black;
  font-weight: bold;
  transition: scaleY(2.5);
  transition: transform .3s ease-in-out; 
}