#sidebar_notification{
  background: white;
  transition: all 300ms ease 0s;
}
#sidebar_notification .card{
  height: 100%;
  /* max-height: 1000px; */
  background: #efeff5;
  overflow-y: auto;
}
#sidebar_notification .nav{
  display: block ruby;
  font-size: .9rem;
}
#sidebar_notification #navbuttons{
  /* left: -20px; */
  position: relative;
  padding: .9rem;
  font-size: .9rem;
}

#navbuttons .sidebar_notification_close{
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 20px;
}