.navbar{
    position: fixed;
    width: 100%;
    background: #fff;
    font-size: 1.7em;
    z-index: 1000;
    -webkit-box-shadow: 0 0 40px 0 rgba(82,63,105,.1) !important;
    box-shadow: 0 0 40px 0 rgba(82,63,105,.1) !important;
    height: 40px !important;
    top:0px !important;
}

.profile-block{
    display: contents;
}

.profile-dropdown{
    top: -0.6rem;
    right: -2rem;
    position: inherit;
}
.profile-dropdown-content{
    font-size:1rem !important;
}

.navbar-title{
    position: absolute;
    left: 50px;
    top: -4px;
}

.profile-img img{
    border-radius: 20px !important;
    width: 2rem;
}

.navbar-right-element{
    position: absolute;
    right: 5px;
}

#quick_panel_toggle{
    font-size: 2rem;
}

.badge-notify{
    background:red;
    position:relative;
    top: -20px;
    left: -35px;
   }

.navbar-breadcrumb{
    display: flex;
    max-height: 20px;
}
.breadcrumb{
    background: white;
    padding: 0px !important;
    padding-left: 10px !important;
    position: relative !important;
    top: -2px !important;
}


#navbar-filter,#navbar-notification,#navbar-event{
    cursor: pointer;
}

@media(max-width:768px) {
    .navbar{
        position: fixed;
        left: 0px !important;
        top: 0px;
        height: 30px;
        font-size: 1rem;
    }
    .profile-block .profile-name{
        display: none;
    }

    .profile-img img{
        border-radius: 20px !important;
        width: 1.2rem !important;
      }
    .navbar-right-element{
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .right_col {
      /* margin-left: 0px !important; */
      margin-top: 50px;
    }

    .menu-toggle{
        font-size: 1.6rem !important;
        top: 1px !important;
        position: absolute !important;
        left: 10px !important;
    }

    .breadcrumb{
        padding: 0px !important;
        padding-left: 0px !important;
        position: relative !important;
        top: -2px !important;
        left: 27px !important;
    }
    .toggled-2{
        font-size: 1.3rem !important;
    }
}

@media(min-width:768px) {
    .profile-img img{
      border-radius: 20px !important;
      width: 1.2rem;
    }
}