.toast__notification {
    text-align: left;
    background-color: #fff;
    border-radius: 4px;
    max-width: 500px;
    top: 0px;
    position: relative;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    transition: ease-out;
    height: 90px;
    margin-bottom: 20px;
}

.toast__icon {
    position: absolute;
    font-size: 3rem;
    padding: 7px;
    border-radius: 50%;
    display: inline-block;
    height: 100%;
    left: 20px;
    top: 0px;
}

.toast__title {
    display: flex;
    padding-top: 10px;
}

.toast__content {
    padding-right: 60px;
    margin-top: -10px;
    /* background: red; */
    margin-left: 70px;
    height: 100%;
}

.toast__title_text {
    color: #3e3e3e;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
}

.toast__title_timeago {
    margin-left: 5px;
    font-style: italic;
}

.toast__message {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    color: #878787;
}

.toast__close {
    position: absolute;
    right: 12px;
    top: 14px;
    width: 14px;
    cursor: pointer;
    height: 14px;
    fill: #878787;
    transform: translateY(-50%);
    font-size: 1.3rem;
    /* display: none; */
}

.toast__close_showed {
    position: absolute;
    right: 12px;
    top: 14px;
    width: 14px;
    cursor: pointer;
    height: 14px;
    fill: #878787;
    transform: translateY(-50%);
    font-size: 1.3rem;
}

.toast__handle {
    position: absolute;
    right: 40px;
    top: 10px;
    font-size: 3rem;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
