<?= $this->Html->css('Gentelella./css/new-navbar')?>

<div class="navbar">
  <?= $this->element("aside/Navtop/toggle") ?>
  <?= $this->element('new-breadcrumb'); ?>
  
  <i id="navbar-filter" class="fas fa-sliders-h pointer"></i>
</div>