<section class="content-header">
    <div class="alert alert-info alert-dismissible">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4><i class="icon fa fa-info"></i> <?= __('Avviso') ?>!</h4>
        <?= h($message) ?>
    </div>
</section>
