.no-js #loader { display: none;  }

.js #loader { display: block; position: absolute; left: 100px; top: 0; }

html, .right_col{
  background: #edf0f6 !important;
  font-family: 'Roboto';
  font-size: 1rem;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
  z-index: 9999;
  background-color: red;
    background: url('/webroot/gentelella/images/oval.svg') center no-repeat #fff;
}

#toTop{
  background: #4492f89e;
  color: #fff;
  position: fixed;
  bottom: -15px;
  right: 50px;
  z-index: 99 !important;
  display: none;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 2px;
  z-index: 10000;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  font-size:30px;
}

#sidebar-menu i {
    margin-left: 10px;
    font-size: 30px;
    height: 30px;
    vertical-align: middle;
}



.jconfirm.jconfirm-supervan .jconfirm-bg {
  background-color: rgba(93, 93, 93, 0.73) !important;
}
.navtop-utils i:hover{
  opacity: .5;
}
.navtop-utils .fa{
  font-size:20px;
  margin-right: 10px;
  margin-left: 10px;
}


.menu_close{
  display: flex;
}
.page_title_menu_open{
  margin-left:13%;
  font-size:25px;
}
.menu_button:hover{
  background: #D9DEE4;
}
.menu_button{
  position: absolute;
  bottom: -5px;
  font-size: 18px;
  padding-left: 20px;
  background: #172D44;
  width: 70px;
  height: 40px;
  padding-top: 8px;
  cursor: pointer;
}

.nav_menu {
  font-size: 1.4rem !important;
  background-color: #dbdbdb80;
  float: left;
  background: #EDEDED;
  border-bottom: 1px solid #D9DEE4;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 45px;
}


.btn-checkbox-checked {
  color: #FFF !important;
  background-color: #18b16f !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu{
  opacity: unset !important;
  transform: unset !important;
}

.btn, .custom-file-control::before{
  text-transform:unset;
}
.custom-file-control:disabled, .form-control:disabled, .form-control[readonly], [readonly].custom-file-control{
  background-color: #f3f3f3 !important;
}

.form-group .btn-group, .btn-group-vertical{
  margin: unset !important;
  display:block !important;
}

.bmd-form-group .btn-group .btn{
  /* font-size: .66rem; */
  font-weight: bold;
}