.navbar{
  transition: top 0.3s;
  background-color: #fff;
  border-bottom: 1px solid#eff0f6;
  padding: 1px !important;
  -webkit-box-shadow: 0 0 40px 0 rgba(82,63,105,.1);
  -moz-box-shadow: 0 0 40px 0 rgba(82,63,105,.1);
       box-shadow: 0 0 40px 0 rgba(82,63,105,.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.mburger {
  --mb-bar-spacing: 8px;
  --mb-bar-width: .5;
  height: 20px;
}

.right-elements{
  font-size: 1.4rem;
  max-height: 50px;
  /* display:flex; */
}

.badge-notify{
  background:#18b16f;
  color: white;
  position:relative;
  top: -16px;
  left: -14px;
  border-radius: 6px;
 }

.left-elements{
  position: absolute;
  max-height: 50px;
  left: 60px;
}